{% extends "layout.html" %}

{% block body %}
{{message}}
{% if word != None %}
<h2>Search results for "{{ word }}"</h2>
{% endif %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="margin-top: 10px">
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Poll</th>
        <th class="mdl-data-table__cell--non-numeric">Voting requires logging in</th>
        <th class="mdl-data-table__cell--non-numeric">Created date</th>
        <th class="mdl-data-table__cell--non-numeric"></th>
    </tr>
    {% for poll in polls %}
    <tr>
        <td class="mdl-data-table__cell--non-numeric">
            <a href="{{ url_for('single_poll', poll_id=poll.id) }}"> {{ poll.question }} </a>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            {% if poll.anonymous == 0 %}
            Yes
            {% else %}
            No
            {% endif %}
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            {{ poll.created_date }}
        </td>
        {% if current_user.id == poll.creator_id %}
        <td class="mdl-data-table__cell--non-numeric">
            Created by you!
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<div style="margin-top: 10px">
    {% if prev_url %}
    <a href="{{ prev_url }}" class="mdl-button mdl-js-button mdl-button--accent">Previous page</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}" class="mdl-button mdl-js-button mdl-button--accent">Next page</a>
    {% endif %}
</div>
{% endblock %}