{% extends "layout.html" %}

{% block body %}
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Poll</th>
      <!-- <th>Edit</th> -->
      <th class="mdl-data-table__cell--non-numeric">Created date</th>
    </tr>
    {% for poll in polls %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="{{ url_for('single_poll', poll_id=poll.id) }}"> {{ poll.question }} </a>
      </td>
      <!-- <td>
          <a href="{{ url_for('polls_edit', poll_id=poll.id) }}">Edit</a>
      </td> -->
      <td class="mdl-data-table__cell--non-numeric">
        {{ poll.created_date }}
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}