  {% extends "layout.html" %}

  {% block body %}
  <form method="POST" action="{{ url_for('polls_create') }}">
	<h2>Create a new poll</h2>
    <table>
      <tr>
	    <td>
	      {{ form.question.label }}
	    </td>
	    <td>
	      {{ form.question }}
	    </td>
      </tr>
      <tr>
	    <td>
	      {{ form.description.label }}
	    </td>
	    <td>
	      {{ form.description }}
	    </td>
      </tr>
      <tr>
	    <td colspan="2">
	      <input type="submit" value="Create a new poll"/>
	    </td>
      </tr>
  </form>
  {% endblock %}