{% extends "layout.html" %}

{% block body %}
<h2>{{ poll.question }}</h2>
<td>
    <a href="{{ url_for('polls_index') }}"
       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Return</a>
    <a href="{{ url_for('polls_edit', poll_id=poll.id) }}"
       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Edit</a>
</td>
<p>Created {{ poll.created_date }}</p>
<h3>Poll description</h3>
<p> {{ poll.description }} </p>
<h3>Answer options</h3>
<form>
<table>
    {% for option in optionlist %}
    <tr>
        <td>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{ option }}">
                <input type="radio" id="{{ option }}" class="mdl-radio__button" name="options" value="{{ option }}">
                <span class="mdl-radio__label">{{ option }}</span>
            </label>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2">
            <input type="submit" value="Vote"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"/>
        </td>
    </tr>
</table>
</form>
<!-- <form method="POST" action="{{ url_for('delete_poll', poll_id=poll.id) }}">
  <input type="submit" value="Delete poll"/>
</form> -->
{% endblock %}