{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('single_poll', poll_id=poll.id) }}">
<h2>{{ poll.question }}</h2>
<td>
    <a href="{{ url_for('polls_index') }}"
       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Return</a>
    {% if current_user.id == poll.creator_id %}
    <a href="{{ url_for('polls_edit', poll_id=poll.id) }}"
       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Edit</a>
    <a href="{{ url_for('show_results', poll_id=poll.id) }}"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Results</a>
    {% endif %}
</td>
<p>Created {{ poll.created_date }}</p>
<h3>Poll description</h3>
<p> {{ poll.description }} </p>
<h3>Answer options</h3>
<form>
<table>
    {% for option in optionlist %}
    <tr>
        <td>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{ option }}">
                <input type="radio" id="{{ option }}" class="mdl-radio__button" name="options" value="{{ option }}">
                <span class="mdl-radio__label">{{ option }}</span>
            </label>
        </td>
    </tr>
    {% endfor %}
    {% if current_user.id == poll.creator_id %}
    <tr>
        <td colspan="2">
            <input type="submit" value="Vote" style="margin-top: 20px; margin-bottom: 20px"
                   class="mdl-button mdl-js-button mdl-button--raised" disabled/>
        </td>
    </tr>
    <tr>
        <td>
            This poll was created by you. The poll creator cannot vote on the poll.
        </td>
    </tr>
    {% elif poll.anonymous == 1 %}
    <tr>
        <td colspan="2">
            <input type="submit" value="Vote" style="margin-top: 20px; margin-bottom: 20px"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"/>
        </td>
    </tr>
    {% elif poll.anonymous == 0 and not current_user.is_authenticated %}
    <tr>
        <td colspan="2">
            <input type="submit" value="Vote" style="margin-top: 20px; margin-bottom: 20px"
                   class="mdl-button mdl-js-button mdl-button--raised" disabled/>
        </td>
    </tr>
    <tr>
        <td>
            You must be logged in to vote on this poll.
        </td>
    </tr>
    {% elif poll.anonymous == 0 and current_user.is_authenticated and error == None %}
    <tr>
        <td colspan="2">
            <input type="submit" value="Vote" style="margin-top: 20px; margin-bottom: 20px"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"/>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="2">
            <input type="submit" value="Vote" style="margin-top: 20px; margin-bottom: 20px"
                   class="mdl-button mdl-js-button mdl-button--raised" disabled/>
        </td>
    </tr>
    <tr>
        <td>
            {{ error }}
        </td>
    </tr>
    {% endif %}
</table>
</form>
</form>
<!-- <form method="POST" action="{{ url_for('delete_poll', poll_id=poll.id) }}">
  <input type="submit" value="Delete poll"/>
</form> -->
{% endblock %}