{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('auth_edit_password', user_id=user.id) }}">
    <h2>Change your password, {{ user.name }}</h2>
    <a href="{{ url_for('auth_profile') }}"
    class="mdl-button mdl-js-button mdl-js-ripple-effect">Return</a>
    <table>
        <tr>
            <td>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ form.password.label (class="mdl-textfield__label")}}
				{{ form.password(class="mdl-textfield__input") }}
				</div>
            </td>
        </tr>
        <tr>
			<td>
                {% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ form.passwordconfirm.label (class="mdl-textfield__label")}}
				{{ form.passwordconfirm(class="mdl-textfield__input") }}
				</div>
            </td>
        </tr>
        <tr>
			<td>
                {% for error in form.passwordconfirm.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </td>
        </tr>
        <tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Update" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}