{% extends "layout.html" %}

{% block body %}
<h2>User activity</h2>
<p>Table does not include votes on anonymous polls.</p>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="margin-top: 20px">
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Username</th>
    <th class="mdl-data-table__cell--non-numeric">Polls voted</th>
  </tr>
  {% for result in results %}
  <tr>
    <td class="mdl-data-table__cell--non-numeric">
      {{result.username}}
    </td>
    <td class="mdl-data-table__cell--non-numeric">
      {{result.count}}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}